@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,400b");
@import url("https://cdnjs.cloudflare.com/ajax/libs/prism/1.9.0/themes/prism.min.css");

@media only screen and (max-width: 1200px) {
	body {
		width: 90% !important;
	}
}

@media only screen and (max-width: 727px) {
	* {
		font-size: 16px !important;
	}
}

@media only screen and (max-width: 480px) {
	* {
		font-size: 14px !important;
	}
	.logo {
		display: none !important;
	}
}

@media only screen and (max-width: 360px) {
	* {
		font-size: 12px !important;
	}
}

:root {
	--base: #3498db;
}

* {
	font-family: "Open Sans", "Lato", Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #333;
}

body {
	width: 1140px;
	margin: 0 auto;
}

h1,
h2,
h3 {
	font-weight: 300;
}

h1 {
	font-size: 250% !important;
}

h2 {
	font-size: 180% !important;
}

h3 {
	font-size: 140% !important;
	margin-bottom: 5px;
}

h1,
h2 {
	border-bottom: 1px solid lightgray;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.logo {
	height: 50px;
	border-radius: 50%;
	position: relative;
	top: 10px;
}

code,
code * {
	font-family: inherit !important;
}

pre {
	border: 2px solid #d3e9f7;
	background-color: #f3f5f6 !important;
}

input[type="text"],
input[type="password"] {
	padding: 8px;
	border: 1px solid lightgray;
	border-left: 3px solid var(--base);
	transition: border-color 0.2s;
}

input[type="text"]:focus,
input[type="password"]:focus {
	outline: none;
	border-color: var(--base);
}

button {
	border-radius: 10000px;
	border: 1px solid var(--base);
	padding: 8px 16px;
	background-color: transparent;
	transition: background-color 0.2s, color 0.2s;
	cursor: pointer;
}

button:hover {
	background-color: var(--base);
	color: white;
}

li,
p,
a {
	line-height: 170%;
}

ul.item-links {
	list-style: none;
}

p code {
	background-color: #d3e9f7;
	display: inline-block;
	padding: 2px 4px 0 4px;
	border-radius: 3px;
	font-family: monospace !important;
}

a {
	color: var(--base);
	text-decoration: none;
	border-bottom: 2px solid var(--base);
	display: inline-block;
	transition: all 0.2s ease;
	cursor: pointer;
}

a:hover {
	color: #333;
	border-bottom: 2px solid transparent;
}

a[disabled] {
	color: #777;
	border: none;
	cursor: default;
}

abbr {
	text-decoration: none !important;
	border-bottom: 2px dashed black !important;
	cursor: help;
}

.link-list {
	line-height: 200%;
}

hr {
	border: none;
	height: 1px;
	background: lightgray;
}

.full-width {
	width: 100%;
}

::selection {
	background-color: var(--base);
	color: white;
	border-radius: 5px;
	display: inline-block;
}

table {
	border-collapse: collapse;
}

table th, table td {
	border: 1px solid lightgray;
	padding: 10px;
}

table th, table th * {
	background-color: var(--base);
	color: white;
}

table tr:nth-child(even) {
	background-color: #f8f8f8;
}