@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Open+Sans:wght@300;400;600&display=swap');

/* VARIABLES */

:root {
	/* --base: #ff7675; */
	--base: #d63031;
	--darker: linear-gradient(to top left, #0002, #0002);
	--bg: #15171a;
}

/* ------------------------------- */
/* ----------- GENERIC ----------- */
/* ------------------------------- */

* {
	margin: 0;
	padding: 0;
	outline: 1px solid transparent;
	box-sizing: border-box;
	font-family: "Open Sans", Helvetica, sans-serif;
}

input:focus,
select:focus,
textarea:focus {
	outline: none !important;
	border: 1px solid var(--base) !important;
	transition: border 0.2s;
	transition-timing-function: ease;
}

input[type="checkbox"]:focus {
	outline: 1px solid var(--base) !important;
}

html,
body {
	background: var(--bg);
	color: #fff;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;

	scrollbar-color: #fff4 #0004;
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: var(--bg);
}
::-webkit-scrollbar-thumb {
	background: #fff4;
}
::-webkit-scrollbar-thumb:hover {
	background: #fff3;
}

/* -------------------------------- */
/* ----------- REUSABLE ----------- */
/* -------------------------------- */

.row {
	max-width: 1140px;
	margin: 0 auto;
}

.box { padding: 1%; }

section { padding: 80px 0; }

section {
	background: var(--bg);
	color: #fff;
}

section.top {
	padding: 30px 0 15px 0;
	background: var(--base);
	color: #fff;
}

section.top h2 {
	margin-top: 20px;
}

section.top h2::after {
	background: #fff;
}

.center {
	text-align: center;
}

.o-center {
	margin-left: 50%;
	transform: translateX(-50%);
	width: fit-content;
}

small {
	font-size: 90%;
}

hr {
	border: 0;
	height: 1px;
	background: lightgray;
	margin: 10px 0;
}

nav.menus {
	width: 100%;
	background: var(--base);
	color: #fff;
	display: flex;
	cursor: pointer;
}

nav.menus span {
	flex: 1;
	transition: background 0.2s;
	text-align: center;
	padding: 10px 0;
}

nav.menus span:hover,
nav.menus span.selected {
	background: var(--darker), var(--base);
}

/* HEADINGS */

h1,
h2,
h3 {
	font-family: "Lexend Deca";
	text-transform: lowercase;
	letter-spacing: 2px;
	filter: drop-shadow(0 0 10px #fff8);
}

h1 {
	color: #fff;
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 240%;
	word-spacing: 4px;
	filter: drop-shadow(0 0 10px #fff8) drop-shadow(0 0 10px #fff4);
}

h2 {
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
}

h2::after {
	display: block;
	height: 2px;
	background: var(--base);
	content: "";
	width: 200px;
	margin: 20px auto;
}

h3 {
	font-size: 130%;
	text-align: center;
	margin-bottom: 15px;
}

h3::after {
	display: block;
	height: 2px;
	background: var(--base);
	content: "";
	width: 50px;
	margin: 10px auto;
}

/* PARAGRAPHS */

.long-copy {
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
}

.box > p {
	line-height: 145%;
	font-size: 90%;
	margin-bottom: 10px;
}

/* TABLES */

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
}

table th, table td {
	border: 1px solid lightgray;
}

table th {
	padding: 10px 8px;
	font-weight: 400;
	background: var(--base);
	color: #fff;
}

table td {
	padding: 8px;
}

table tr:nth-child(odd) {
	background: #f8f8f8;
}

/* LINKS */

a, ul.breadcrumbs li {
	color: var(--base);
	text-decoration: none;
	border-bottom: 1px solid var(--base);
	transition: border 0.2s, color 0.2s, background 0.2s, filter 0.2s, transform 0.2s;
	transition-timing-function: ease;
	cursor: pointer;
}

a:hover,
a:active {
	color: #fff;
	border: transparent;
	filter: drop-shadow(0 0 5px #fffb);
}

/* BUTTONS */

input[type="submit"],
.btn {
	display: inline-block;
	padding: 8px 30px;
	text-decoration: none;
	border-radius: 200px;
	transition: background 0.2s, border 0.2s, color 0.2s;
	transition-timing-function: ease;
	cursor: pointer;
}

.btn-ghost {
	color: var(--base);
	border: 1px solid var(--base);
	background: transparent;
}

input[type="submit"],
.btn-full {
	color: #fff;
	background: var(--base);
	border: 1px solid var(--base);
}

input[type="submit"]:hover,
.btn-full:hover {
	background: var(--darker), var(--base);
	border: 1px solid var(--base);
	color: #fff;
}

input[type="submit"]:hover,
.btn-ghost:hover {
	background: var(--base);
	border: 1px solid transparent;
	color: #fff;
}

.btn-full.disabled,
.btn-full.disabled:hover {
	border: 1px solid lightgray;
	background: lightgray;
	color: #fff;
	cursor: default;
}

.btn-ghost.disabled,
.btn-ghost.disabled:hover {
	border: 1px solid lightgray;
	background: whitesmoke;
	color: gray;
	cursor: default;
}

/* LISTS */

ul.list {
	list-style-type: none;
	margin-top: 10px;
}

ul.list li {
	margin-bottom: 5px;
}

/* BREADCRUMBS */

ul.breadcrumbs {
	list-style: none;
}

ul.breadcrumbs li {
	display: inline-block;
	background: #3331;
	padding: 5px;
	border-radius: 3px;
	border: none;
}

ul.breadcrumbs li::after {
	content: "⇾";
	color: var(--base);
	display: inline-block;
	cursor: default;
	margin-left: 8px;
}

ul.breadcrumbs li:last-child {
	background: none;
	color: #3338;
	cursor: default;
}

ul.breadcrumbs li:last-child::after {
	content: "";
}

/* ------------------------------ */
/* ----------- HEADER ----------- */
/* ------------------------------ */

body {
	background: transparent;
}

header {
	height: 100vh;
	background: transparent;
}

#hero-canvas {
	background:
		url("../images/alex-knight-unsplash.jpg"),
		#000;
	background-size: cover;
	background-position: center;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}

.hero-box {
	background: transparent;
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hero-box > .btn {
	margin-right: 20px;
}

header .scroll-arrow {
	position: absolute;
	height: 50px;
	width: 50px;
	color: #ffffff80;
	cursor: pointer;
	top: 100%;
	left: 50%;
	font-size: 300%;
	transform: translate(-50%, -120%);
	opacity: 0.5;
	filter: invert() drop-shadow(0 0 20px #fffb);
	user-select: none;

	transition: color 0.2s, opacity 0.2s;
}

header .scroll-arrow:hover {
	opacity: 1;
	color: #ffffff;
}
.logo {
	height: 200px;
	width: auto;
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translate(-120%, -60%);
	filter: drop-shadow(0 0 10px #fff8) drop-shadow(0 0 20px #fff8);
}

/* ---------------------------------------- */
/* ----------- MORE EXPERIMENTS ----------- */
/* ---------------------------------------- */

#section-more {
	height: 30vh;
	background: transparent;
}

.more-box {
	position: relative;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#section-more .go {
	font-family: "Lexend Deca";
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translate(-120%, -50%);
	font-size: 180%;
	border: 2px solid #fff;
	color: #fff;
	filter: drop-shadow(0 0 10px #fffb);
}

#section-more .go:hover {
	background: #fff;
	border: 2px solid transparent;
	color: #444;
}

/* ---------------------------------- */
/* ----------- GAME CARDS ----------- */
/* ---------------------------------- */

.section-games .game-card {
	color: white;
	padding: 20px;
	text-align: left;
	background: var(--darker), var(--bg);
	display: flex;
	align-items: center;
	margin-top: 10px;
	border: none;

	transition: box-shadow 0.2s, transform 0.2s;
}

.game-card:hover {
	transform: translateY(-3px);
	box-shadow: 0 3px 10px #0004;
	filter: none;
}

.section-games .text {
	flex: 1;
	margin-right: 5px;
}

.section-games .title {
	font-family: "Lexend Deca";
	display: block;
	text-transform: lowercase;
	filter: drop-shadow(0 0 5px #fff8);
	margin-bottom: 3px;
}

.section-games .description {
	font-size: 80%;
}

img {
	display: block;
	border: none;
	filter: invert();
	user-select: none;
	width: 25px;
	height: 25px;
	transition: 0.2s transform, 0.2s filter;
}

.game-card:hover img {
	transform: translateX(5px);
	filter: invert() drop-shadow(-10px 0 0 var(--base)) drop-shadow(0 0 10px #fffb);
}

/* ---------------------------------------- */
/* ----------- ABOUT / COMMENTS ----------- */
/* ---------------------------------------- */

.section-about {
	background: var(--darker) var(--bg);
}

/* ------------------------------ */
/* ----------- FOOTER ----------- */
/* ------------------------------ */

footer {
	background: #111;
	color: #bbb;
	font-size: 0.65em;
	line-height: 145%;
	padding: 20px;
}

footer a {
	background: inherit;
	color: #bbb;
	border-bottom: 1px solid #bbb;
	border-radius: 0;
	padding: 0;
}

footer a:hover,
footer a:active {
	color: #ddd;
	border-color: transparent;
	background: inherit;
}

footer p {
	text-align: center;
	margin: 3px auto;
}

/* ------------------------------ */
/* ----------- RANDOM ----------- */
/* ------------------------------ */

#disqus_thread {
	margin-top: 20px;
}