@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Open+Sans:wght@300;400;600&display=swap');

/* VARIABLES */

:root {
	/* --base: #ff7675; */
	--base: #d63031;
	--lightbg: linear-gradient(to top left, #fff2, #fff2);
	--darkbg: linear-gradient(to top left, #0002, #0002);
	--bg: #15171a;
	--title-font: "Lexend Deca", Helvetica, sans-serif;
	--text-font: "Open Sans", Helvetica, sans-serif;
}

/* ------------------------------- */
/* ----------- GENERIC ----------- */
/* ------------------------------- */

* {
	margin: 0;
	padding: 0;
	outline: 1px solid transparent;
	box-sizing: border-box;
	font-family: var(--text-font);
}

input[type="checkbox"]:focus {
	outline: 1px solid var(--base) !important;
}

body {
	background: var(--bg);
	color: #fff;
	font-family: var(--text-font);
	font-size: 20px;
	text-rendering: optimizeLegibility;

	overflow-x: hidden;
	scrollbar-color: #fff4 #0004;
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: var(--bg);
}
::-webkit-scrollbar-thumb {
	background: #fff4;
}
::-webkit-scrollbar-thumb:hover {
	background: #fff3;
}

/* ------------------------------ */
/* ----------- LAYOUT ----------- */
/* ------------------------------ */

.row {
	width: min(96%, 1140px);
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.row .col {
	flex: 1 1 300px;
	padding: 1%;
}

section { padding: 80px 0; }

section {
	background: var(--bg);
	color: #fff;
}

section.top {
	padding: 30px 0 15px 0;
	background: var(--base);
	color: #fff;
}

section.top h2 {
	margin-top: 20px;
}

section.top h2::after {
	background: #fff;
}

.center {
	text-align: center;
}

.o-center {
	margin-left: 50%;
	transform: translateX(-50%);
	width: fit-content;
}

hr {
	border: 0;
	height: 1px;
	background: var(--lightbg) var(--bg);
	margin: 10px 0;
}

nav.menus {
	width: 100%;
	background: var(--base);
	color: #fff;
	display: flex;
	cursor: pointer;
}

nav.menus span {
	flex: 1;
	transition: background 0.2s;
	text-align: center;
	padding: 10px 0;
}

nav.menus span:hover,
nav.menus span.selected {
	background: var(--base);
}

/* ---------------------------------- */
/* ----------- COMPONENTS ----------- */
/* ---------------------------------- */

h1,
h2,
h3 {
	font-family: var(--title-font);
	text-transform: lowercase;
	letter-spacing: 2px;
	filter: drop-shadow(0 0 10px #fff8);
	width: 100%;
}

h1 {
	color: #fff;
	margin: 0;
	font-size: 240%;
	word-spacing: 4px;
	filter: drop-shadow(0 0 10px #fff8) drop-shadow(0 0 10px #fff4);
}

h2 {
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
}

h2::after {
	display: block;
	height: 2px;
	background: var(--base);
	content: "";
	width: 200px;
	margin: 20px auto;
}

h3 {
	font-size: 130%;
	text-align: center;
	margin-bottom: 15px;
}

h3::after {
	display: block;
	height: 2px;
	background: var(--base);
	content: "";
	width: 50px;
	margin: 10px auto;
}

/* PARAGRAPHS */

.long-copy {
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
}

p {
	line-height: 145%;
	margin-bottom: 10px;
}

/* TABLES */

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
}

table th, table td {
	border: 1px solid lightgray;
}

table th {
	padding: 10px 8px;
	font-weight: 400;
	background: var(--base);
	color: #fff;
}

table td {
	padding: 8px;
}

table tr:nth-child(odd) {
	background: #f8f8f8;
}

/* LINKS */

a.link {
	color: var(--base);
	text-decoration: none;
	border-bottom: 1px solid var(--base);
	transition: border 0.2s, color 0.2s, filter 0.2s;
	cursor: pointer;
}

a.link:hover,
a.link:active {
	color: #fff;
	border: transparent;
	filter: drop-shadow(0 0 5px #fffb);
}

/* ----------- GAME CARDS ----------- */

.game-card {
	color: white;
	padding: 20px;
	text-align: left;
	background: var(--darkbg), var(--bg);
	display: flex;
	align-items: center;
	margin-top: 10px;
	border: none;
	text-decoration: none;

	transition: box-shadow 0.2s, transform 0.2s;
}

.game-card:hover {
	transform: translateY(-3px);
	box-shadow: 0 3px 10px #0004;
	filter: none;
}

.game-card .text {
	flex: 1;
	margin-right: 5px;
}

.game-card .title {
	font-family: var(--title-font);
	display: block;
	text-transform: lowercase;
	filter: drop-shadow(0 0 5px #fff8);
	margin-bottom: 3px;
}

.game-card .description {
	font-size: 80%;
}

.game-card img {
	display: block;
	border: none;
	filter: invert();
	user-select: none;
	width: 25px;
	height: 25px;
	transition: 0.2s transform, 0.2s filter;
}

.game-card:hover img {
	transform: translateX(5px);
	filter: invert() drop-shadow(-10px 0 0 var(--base)) drop-shadow(0 0 10px #fffb);
}

/* INTERACTIVE COMPONENTS ---------------------------------------------------------- */

input[type="number"],
input[type="text"],
textarea,
.button,
button {
	font-family: var(--title-font);
	display: inline-block;
	padding: 10px 15px;
	border-radius: 10px;
	border: 2px solid var(--base);
	text-decoration: none;
	user-select: none;

	background-color: var(--bg);
	color: var(--base);
}

/* BUTTONS */

.button,
button {
	margin-bottom: 5px;
	box-shadow: 0 5px 0 var(--base);
	cursor: pointer;
	transition: background 0.2s, color 0.2s, filter 0.2s,
		transform 0.1s, box-shadow 0.1s;
}

.button:hover,
button:hover {
	background: var(--base);
	color: #fff;
	filter: drop-shadow(0 0 5px #fff4);
}

.button:active,
button:active {
	transform: translateY(3px);
	box-shadow: 0 2px 0 var(--base);
}

/* INPUTS */

input[type="number"],
input[type="text"],
textarea {
	transition: background 0.2s, color 0.2s, box-shadow 0.2s;
}

:is(
	input[type="number"],
	input[type="text"],
	textarea
):focus {
	box-shadow: 0 0 10px #fffb;
	background: var(--base);
	color: #fff;
}

/* LISTS */

ul.list {
	list-style-type: none;
	margin-top: 10px;
}

ul.list li {
	margin-bottom: 5px;
}

/* BREADCRUMBS */

ul.breadcrumbs {
	list-style: none;
}

ul.breadcrumbs li {
	display: inline-block;
	background: var(--bg);
	padding: 5px;
	border: none;
	cursor: pointer;
}

ul.breadcrumbs li::after {
	content: "⇾";
	color: var(--base);
	display: inline-block;
	cursor: default;
	margin-left: 8px;
}

ul.breadcrumbs li:last-child {
	background: none;
	color: #fff;
	cursor: default;
}

ul.breadcrumbs li:last-child::after {
	content: "";
}