* {
	margin: 0;
	padding: 0;
	font-family: sans-serif
}

canvas {
	float: left;
	display: block;
	margin: 10px;
	border: 1px solid lightgray;
}

div {
	position: absolute;
	top: 0;
	left: 820px;
	margin: 20px 10px;
}

p {
	margin-bottom: 10px;
	line-height: 150%;
}

a {
	display: block;
	color: #3498db;
	text-decoration: underline;
	transition: all 0.2s;
}

a:hover {
	text-decoration: none;
	color: gray;
}