@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,400b");

* {
	font-family: "Open Sans", "Lato", Arial, Helvetica, sans-serif;
	font-size: 20px;
	box-sizing: content-box;
	margin: 0;
	padding: 0;
}

html,
body {
	overflow: hidden;
}

::selection {
	background-color: inherit;
}

p {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 9999;
}

button {
	position: fixed;
	transition: all 1s, background-color 0.2s;
	user-select: none;
}

button:focus {
	outline: none;
}

.bg-blue {
	--clr-1: #4285f4;
}
.bg-green {
	--clr-1: #34a853;
}
.bg-yellow {
	--clr-1: #fbbc05;
}
.bg-red {
	--clr-1: #ea4335;
}
