@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,400b');

* {
	font-family: "Open Sans", "Lato", Arial, Helvetica, sans-serif;
	font-size: 20px;
	box-sizing: content-box;
	margin: 0;
	padding: 0;
}

html,
body {
	overflow: hidden;
}

::selection {
	background-color: inherit;
}

p {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 9999;
}

button {
	position: fixed;
	transition: all 1s, background-color 0.2s;
	user-select: none;
}

button:focus { outline: none; }

.bg-blue { --base: #4285f4; }
.bg-green { --base: #34a853; }
.bg-yellow { --base: #fbbc05; }
.bg-red { --base: #ea4335; }