@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;

	font-size: 20px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: #222;
	background: #fff;

	margin-bottom: 40px;
}

body {
	max-width: 96%;
	margin: 30px auto;
	width: 800px;
	overflow: auto;
}

h3 {
	font-size: 1.6em;
	margin-bottom: 12px;
}
h4 {
	font-size: 1.3em;
	margin-bottom: 0;
	margin-top: 10px;
}

canvas {
	display: block;
	margin: 0 auto;
}

p {
	display: block;
	margin: 10px auto 0 auto !important;
}

canvas, input, label {
	user-select: none;
}