<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		
		<meta property="description" content="Prestigious incremental game!">
		
		<meta property="og:title" content="Thing">
		<meta property="og:description" content="Prestigious incremental game!">
		<meta property="og:url" content="https://cubedhuang.com/games/thing/">
		<meta property="og:image" content="https://cubedhuang.com/logo.png">

		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#2ecc71">

		<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> -->
		<link rel="stylesheet" href="/css/generic.css">
		<link rel="stylesheet" href="/global/animate.min.css">
		<link rel="stylesheet" href="style.css">

		<link rel="canonical" href="https://cubedhuang.com/games/thing/">
		<link rel="author" href="https://cubedhuang.com/">
		<link rel="publisher" href="https://cubedhuang.com/">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107754281-2"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-107754281-2');
		</script>

		<title>Thing</title>
	</head>

	<body>
		<div id="thing">
			<section class="top">
				<div class="row">
					<div class="col">
						<h2>Thing</h2>
					</div>
				</div>
			</section>

			<transition
				name="prestige"
				mode="out-in"
				enter-active-class="animated fadeInUp"
				leave-active-class="animated flipOutY">
				<div key="main" v-if="!prestigeMode" class="container">
					<div class="row">
						<div class="col">
							<h3>Parts of Things: {{ numberformat.format(parts) }}</h3>

							<p>Gain a part!</p>
							<img src="/logo.png" @click.prevent="collect(1, true)" class="clicker"/>

							<br>
							<p>Boxes will improve your gathering speed!</p>

							<button @click.prevent="buildBox(false)">
								Build a Box: {{ numberformat.formatShort(boxes) }} Boxes |
								Cost: {{ numberformat.formatShort(bc) }} Parts
							</button>
							<button @click.prevent="buildBox(true)" class="max">Buy Max</button>
							
							<br><br>

							<button @click.prevent="upgradeBox(false)">
								Upgrade Boxes: Level {{ numberformat.formatShort(bl) }} |
								Cost: {{ numberformat.formatShort(blc) }} Parts
							</button>
							<button @click.prevent="upgradeBox(true)" class="max">Buy Max</button>

							<br><br>

							<p>Machines will gather for you!</p>

							<button @click.prevent="buildMachine(false)">
								Build a Machine: {{ numberformat.formatShort(machines) }} Machines |
								Cost: {{ numberformat.formatShort(mc) }} Parts
							</button>
							<button @click.prevent="buildMachine(true)" class="max">Buy Max</button>

							<br><br>

							<button @click.prevent="upgradeMachine(false)">
								Upgrade Machines: Level {{ numberformat.formatShort(ml) }} |
								Cost: {{ numberformat.formatShort(mlc) }} Parts
							</button>
							<button @click.prevent="upgradeMachine(true)" class="max">Buy Max</button>
						</div>

						<div class="col">
							<h3>Prestige</h3>
							<p>
								Prestige will sacrifice everything you have made in the material world, but it will increase your
								universe's <span class="transcend">Degree</span>. For every <span class="transcend">Degree</span>,
								you gain a 5% bonus. You will also gain 1 <span class="transcend">Transcendence Point</span> per
								<span class="transcend">Degree</span>, which can be used for certain upgrades to increase production.
							</p>
							<p v-if="degree.gt(0)">
								Your universe's <span class="transcend">Degree</span> is
								{{ numberformat.formatShort(degree) }} <br>
								You have {{ numberformat.formatShort(tp) }} <span class="transcend">Transcendence Points</span>
							</p>
							<p>
								If you Prestige now, you will gain
								<span class="transcend">
									{{ numberformat.formatShort(degreeGain) }} Degrees
								</span>.
							</p>

							<transition
								name="prestige-confirm"
								mode="out-in"
								enter-active-class="animated fadeInRight"
								leave-active-class="animated fadeOutRight">
								<button
									@click.prevent="prestigeConfirm = true"
									v-if="!prestigeConfirm"
									class="prestige"
								>Prestige!</button>

								<div class="alert" v-else>
									Are you sure you want to continue? <br><br>
									<button
										class="prestige"
										@click.prevent="prestige"
									>Yes</button>
									<button
										@click.prevent="prestigeConfirm = false"
									>Later</button>
								</div>
							</transition>
							
							<h3>Stats</h3>

							<p>Total Parts Ever Gained: {{ numberformat.format(total) }}</p>
							<p>Total Parts This Era: {{ numberformat.format(curTotal) }}</p>
							<button @click.prevent="reset" class="btn btn-danger btn-sm">Wipe Save</button>
						</div>
					</div>
				</div>
				<div key="prestige" v-if="prestigeMode" class="container dark">
					<div class="row">
						<div class="col">
							<h2><br>Prestige</h2>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<h3 class="transcend">Transcendence Points: {{ numberformat.format(tp) }}</h3>
						</div>
						<div class="col">
							<h3 class="transcend">Degree: {{ numberformat.format(degree) }}</h3>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<div class="game-card">
								<img src="./icons/cursor.png" alt="cursor icon">
								<span class="title">Mortal Mediation</span>
								<p class="description">
									Increases the effectiveness of clicks by x2. <br>
									Level: {{ numberformat.formatShort(mm) }} <br>
									Cost: {{ numberformat.formatShort(mmc) }} <br>
									Current Effect: {{ numberformat.format(Decimal.pow(2, this.mm)) }}x
								</p>
								<button @click="buyMM" class="prestige">Upgrade</a>
							</div>
							<div class="game-card">
								<img src="./icons/stack.png" alt="stack icon">
								<span class="title">Calculated Creation</span>
								<p class="description">
									Decreases the cost multiplier of everything by 5% (diminishing returns). <br>
									Level: {{ numberformat.formatShort(cc) }} <br>
									Cost: {{ numberformat.formatShort(ccc) }} <br>
									Current Effect: {{ (+Decimal.sub("2", calcCC("2")).mul("100").toString()).toFixed(1) }}%
								</p>
								<button @click="buyCC" class="prestige">Upgrade</a>
							</div>
							<div class="game-card">
								<img src="./icons/tools.png" alt="tools icon">
								<span class="title">Ultimate Upgrades</span>
								<p class="description">
									Increases the effectiveness of upgrades by 5%. <br>
									Level: {{ numberformat.formatShort(uu) }} <br>
									Cost: {{ numberformat.formatShort(uuc) }} <br>
									Current Effect: {{ numberformat.format(uu.mul(5)) }}%
								</p>
								<button @click="buyUU" class="prestige">Upgrade</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<button class="prestige" @click="prestigeMode = false">
								Return
							</button>
						</div>
					</div>
				</div>
			</transition>
		</div>

		<script src="/global/format.min.js"></script>
		<script src="/global/decimal.min.js"></script>
		<script src="/global/vue.min.js"></script>
		<script src="script.js"></script>
	</body>
</html>