img {
	border-radius: 10000px;
	width: 100px;
	height: 100px;
	background: black;
	display: block;
	text-align: center;
	cursor: pointer;
	filter: brightness(80%);
	transition: 0.2s filter;
}

img:hover {
	filter: brightness(100%);
}