@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

:root {
	--purple: #8e44ad;
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
}

img.clicker {
	width: 100px;
	height: 100px;
	display: block;
	text-align: center;
	cursor: pointer;
	filter: brightness(80%);
	transition: 0.2s filter;
}

img:hover {
	filter: brightness(100%);
}

* {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    user-select: none; /* IE10+ */
}

body {
	font-size: 16px;
}

h3 {
	margin-top: 20px;
}

.transcend {
	--base: var(--purple);
	color: var(--purple);
	font-weight: 900;
	font-family: var(--title-font);
}

.prestige {
	--base: var(--purple);
	border-color: var(--purple);
	color: var(--purple);
}
.prestige:hover,
.prestige:active {
    background-color: var(--purple) !important;
	border-color: var(--purple) !important;
}
.prestige:focus {
	box-shadow: 0 0 0 0.2rem rgba(142, 68, 173, 0.5) !important;
}

.alert {
	background: var(--darkbg);
	padding: 20px;
	border-radius: 10px;
}
.game-card {
	display: block;
	font-size: 120%;
}
.game-card img {
	margin-bottom: 10px;
	width: 100px;
	height: 100px;
	filter: none;
}
.game-card:hover img {
	transform: none;
	filter: none;
}

.max {
	float: right;
}

h3.transcend::after {
	display: none;
}