<!DOCTYPE html>
<html>
  <head>
    <title>Monster Slayer</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
  </head>

  <body>
    <div id="app">
      <section class="row">
        <div class="small-6 columns">
          <h1 class="text-center" style="color: #2ecc71;">YOU</h1>
          <div class="healthbar">
            <div
              class="healthbar text-center"
              style="background-color: #2ecc71; margin: 0; color: black;"
              :style="{ width: playerHealth + '%' }">
              {{ playerHealth }}
            </div>
          </div>
        </div>
        <div class="small-6 columns">
          <h1 class="text-center" style="color: #e74c3c;">MONSTER</h1>
          <div class="healthbar">
            <div
              class="healthbar text-center"
              style="background-color: #e74c3c; margin: 0; color: white;"
              :style="{ width: monsterHealth / 2 + '%' }">
              {{ monsterHealth }}
            </div>
          </div>
        </div>
      </section>

      <section class="row controls" v-if="!inGame">
        <div class="small-12 columns">
          <button id="start-game" @click="start">START NEW GAME</button>
          <button id="back">
            <a href="/">BACK</a>
          </button>
        </div>
      </section>

      <section class="row controls" v-else>
        <div class="small-12 columns">
          <button id="attack" @click="attack">ATTACK</button>
          <button id="special-attack" @click="special">SPECIAL ATTACK - COOLDOWN: {{ cooldown }}</button>
          <button id="heal" @click="heal">HEAL</button>
          <button id="give-up" @click="giveUp">GIVE UP</button>
        </div>
      </section>

      <section class="row log" v-if="log.length !== 0">
        <div class="small-12 columns">
          <ul>
            <li
              v-for="data in log"
              :class="{ 'player-turn': data.player, 'monster-turn': !data.player }">
              {{ data.text }}
            </li>
          </ul>
        </div>
      </section>
    </div>

    <script src="app.js"></script>
  </body>
</html>