<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<meta name="author" content="cubedhuang">
		<meta name="description" content="Fight some random monster thing...">
		<meta name="keywords" content="monster, fight, game">
		<meta name="theme-color" content="#d63031">

		<meta property="og:title" content="Monster">
		<meta property="description" content="Fight some random monster thing...">
		<meta property="og:description" content="Fight some random monster thing...">
		<meta property="og:url" content="https://cubedhuang.com/games/monster/">
		<meta property="og:image" content="https://cubedhuang.com/images/logo.png">

		<link rel="shortcut icon" href="/favicon.ico">

		<link rel="canonical" href="https://cubedhuang.com/games/monster/">
		<link rel="author" href="https://cubedhuang.com/">
		<link rel="publisher" href="https://cubedhuang.com/">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107754281-2"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());

			gtag('config', 'UA-107754281-2');
		</script>
		<!-- Cloudflare Web Analytics -->
		<script defer src='https://static.cloudflareinsights.com/beacon.min.js'
			data-cf-beacon='{"token": "52dcb98c1a10492682592c6cfe35319d"}'></script>
		<!-- End Cloudflare Web Analytics -->

		<link rel="stylesheet" href="/css/generic.css">
		<link rel="stylesheet" href="./style.css">

		<title>Monster</title>
	</head>

	<body>
		<div id="app">
			<section class="top">
				<h2>monster slayer</h2>
			</section>

			<section>
				<div class="row">
					<div class="col">
						<h3 class="you">you</h3>
						<div class="healthbar">
							<div class="bar you" :style="{ width: playerHealth + '%' }">
								{{ playerHealth }}
							</div>
						</div>
					</div>
					<div class="col">
						<h3 class="monster">monster</h3>
						<div class="healthbar">
							<div class="bar monster" :style="{ width: monsterHealth / 2 + '%' }">
								{{ monsterHealth }}
							</div>
						</div>
					</div>
				</div>
			</section>

			<section>
				<div class="row controls" v-if="!inGame">
					<div class="col center">
						<button id="start-game" @click="start">new game</button>
						<a class="button" href="/">back</a>
					</div>
				</div>

				<div class="row controls" v-else>
					<div class="col center">
						<button id="attack" @click="attack">attack</button>
						<button id="special-attack" @click="special">
							special attack
							<template v-if="cooldown">in {{ cooldown }}</template>
						</button>
						<button id="heal" @click="heal">heal</button>
						<button id="give-up" @click="giveUp">give up</button>
					</div>
				</div>

				<div class="row log" v-if="log.length !== 0">
					<div class="col center">
						<ul>
							<li v-for="data in log"
								:class="{ 'player-turn': data.player, 'monster-turn': !data.player }">
								{{ data.text }}
							</li>
						</ul>
					</div>
				</div>
			</section>
		</div>

		<script src="/global/vue.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>
