<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		
		<meta property="description" content="Unfinished game">
		
		<meta property="og:title" content="Computer Controller">
		<meta property="og:description" content="Unfinished game">
		<meta property="og:url" content="https://cubedhuang.com/games/computer-controller/">
		<meta property="og:image" content="https://cubedhuang.com/logo.png">

		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#2ecc71">

		<link rel="stylesheet" href="/global/animate.min.css">
		<link rel="stylesheet" href="/css/generic.css">
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="queries.css">

		<link rel="canonical" href="https://cubedhuang.com/games/computer-controller/">
		<link rel="author" href="https://cubedhuang.com/">
		<link rel="publisher" href="https://cubedhuang.com/">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107754281-2"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-107754281-2');
		</script>

		<title>Computer Controller</title>
	</head>

	<body>
		<section class="top">
			<h2>Computer Controller</h2>
			<h4 class=center>
				ya dont play this game
				<br>
				just go to <a href="/" style="color:lightblue;text-decoration:underline">this link</a>
			</h4>
		</section>

		<div id="game">
			<nav class="menus">
				<span @click="section = 0" :class="section === 0 ? ['selected'] : []">Structures</span>
				<span @click="section = 1" :class="section === 1 ? ['selected'] : []">Chips</span>
			</nav>

			<transition
				enter-active-class="animated fadeInLeft"
				leave-active-class="animated fadeOut"
				mode="out-in">
				<section v-if="section === 0" key="structures">
					<div class="row">
						<h3 class="center">Bits</h3>
						<div class="box">
							<p class="o-center">
								Right now, you have {{ format(bits) }} bits.
								<br>
								Bits are 0's and 1's.
								Almost all computer stuff is made out of bits.
							</p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col span-1-of-3" v-for="(struct, index) in structs">
							<h3 class="center">{{ struct.name }}</h3>
							<div class="box small">
								<p class="o-center" style="font-size:90%">
									{{ struct.desc }}
									<br>
									Creates 1 {{ capital((structs[index - 1] || 0).name) || "bit" }}
									every {{ format(Decimal.pow(1.7, index)) }} seconds
									<br>
									Costs {{ format(Decimal.pow(60, index).times(8)) }} bits<span v-if="index !== 0">,</span>
									<span v-else>
										and
									</span>
									{{ format(struct.ccost) }} chips
									<span v-if="index !== 0">
										and {{ format(Decimal.pow(10, index)) }}
										{{ capital(structs[index - 1].name) }}s
									</span>

									<br><br>

									<a
										class="btn btn-ghost"
										:class="able[index] ? ['disabled'] : []"
										style="padding:7px 20px">
										Buy 1
									</a>
									<a
										class="btn btn-full"
										:class="able[index] ? ['disabled'] : []"
										style="padding:7px 20px">
										Buy Max: {{ format(max[index]) }}
									</a>
								</p>
							</div>
						</div>
					</div>
				</section>

				<section v-if="section === 1" key="chips">
					<div class="row">
						<h3 class="center">Chips</h3>
						<div class="box">
							<p class="o-center">
								Chips are used to moderate structures.
								Upgrading your chips unlocks more structures.
								Currently, you have {{ format(chips) }} {{ levels[level] }} chips.
							</p>
						</div>
					</div>
				</section>
			</transition>

			<div class="corner-box">
				{{ capital(format(bits)) }} Bits
				<br>
				{{ capital(format(chips)) }} Chips
				<br>
			</div>
		</div>

		<script src="/global/format.min.js"></script>
		<script src="/global/decimal.min.js"></script>
		<script src="/global/vue.js"></script>
		<script src="script.js"></script>
	</body>
</html>
