@media only screen and (max-width: 1200px) {
	.col.span-1-of-3::before {
		transform: translateX(-20px);
	}
}

@media only screen and (max-width: 1024px) {
	.col.span-1-of-3::before {
		transform: translate(-5px, 10px);
		font-size: 180%;
	}
}

@media only screen and (max-width: 767px) {
	.col.span-1-of-3 {
		padding-top: 0px;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	
	.col.span-1-of-3::before {
		content: "⭫";
		position: relative;
		display: block;
		width: 96%;
		left: 2%;
		text-align: center;
		color: var(--base);
		font-size: 250%;
		margin-bottom: 10px;
		transform: none;
	}
}