.col.span-1-of-3:nth-child(3n+1) {
	margin-left: 0;
}

.col.span-1-of-3::before {
	content: "⭪";
	position: absolute;
	color: var(--base);
	font-size: 250%;
	transform: translateX(-50px);
}

.corner-box {
	position: fixed;
	top: 100%;
	left: 100%;
	transform: translate(-100%, -100%);
	padding: 10px;
	width: 200px;
	text-align: right;
}