<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107754281-2"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-107754281-2');
		</script>

		<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="style.css">

		<title>Infinistruct</title>
	</head>

	<body class="container">
		<div id="infinistruct">
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<div class="navbar-brand">
							Infinistruct
						</div>
					</div>

					<p class="navbar-text" v-if="difficulty === null">Choose a Difficulty:</p>
					<div class="btn-group" role="group" v-if="difficulty === null">
						<button
							type="button"
							v-for="(name, i) in diffNames"
							:class="['btn', 'btn-sm', 'navbar-btn', `btn-${
								['info', 'success', 'warning', 'danger', 'default'][i]
							}`]"
							@click="setDiff(i)"
						>
							{{ name }}
						</button>
					</div>

					<p class="navbar-text" v-if="difficulty !== null">
						Difficulty: {{ diffNames[difficulty] }}
					</p>

					<button
						class="btn btn-sm navbar-btn btn-danger"
						@click="restart">
						RESTART GAME
					</button>

					<a class="btn btn-sm mavbar-btn btn-info" href="/">Back</a>
				</div>
			</nav>

			<h4 id="stuff-container">Stuff: {{ numberformat.format(stuff) }}</h4>

			<div class="text-center">
				<div v-for="(amount, tier) in structs" v-if="tier > structs.length - 8 || tier < 2">
					<button :class="['btn', 'btn-struct', `btn-${
							tier % 3 === 1 ? 'warning' : tier % 3 === 2 ? 'danger' : 'success'
						}`]" @click="buy(tier - 1)">
						Buy a {{ ++tier }}<sup>{{ ordSuff(tier) }}</sup> structure -
						Amount: {{ numberformat.format(amount) }} -
						Cost: {{ numberformat.format(costs[tier - 1]) }}
					</button>
					<span class="text-big infin-text" v-if="tier === 2 && structs.length >= 10">
						<br>&infin;&infin;&infin;</span>
				</div>
			</div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/decimal.js/7.5.1/decimal.min.js" integrity="sha256-CHbdy3ql+pkFIZgM6mWq+3P/mGeuPqLfEC97VDauPIo="
		    crossorigin="anonymous"></script>
		<script src="https://cdn.rawgit.com/erosson/swarm-numberformat/v0.1.0/dist/swarm-numberformat.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
		<script src="script.js"></script>
	</body>
</html>