@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

* {
    font-family: 'Lato' !important;
    font-size: 20px !important;
    border-radius: 0 !important;
}
*:focus { outline: none !important }

.container { text-align: center; }

h1 {
    font-size: 50px !important;
    font-weight: 300;
    margin: 20px;
}

#memorable { color: gray; }
#medium { color: green; }
#strong { color: orange; }
#insane { color: red; }

button, a {
    transition: all 0.2s;
    margin-bottom: 10px !important;
}