<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		
		<meta name="author" content="cubedhuang">
		<meta name="description" content="Discontinued clicker game...">
		<meta name="keywords" content="game, clicker, incremental">
		<meta name="theme-color" content="#d63031">
		
		<meta property="og:title" content="Worldly">
		<meta property="description" content="Discontinued clicker game...">
		<meta property="og:description" content="Discontinued clicker game...">
		<meta property="og:url" content="https://cubedhuang.com/games/worldly/">
		<meta property="og:image" content="https://cubedhuang.com/images/logo.png">

		<link rel="shortcut icon" href="/favicon.ico">

		<link
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		    crossorigin="anonymous">
		<link rel="stylesheet" href="style.css">

		<link rel="canonical" href="https://cubedhuang.com/games/worldly/">
		<link rel="author" href="https://cubedhuang.com/">
		<link rel="publisher" href="https://cubedhuang.com/">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107754281-2"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-107754281-2');
		</script>
		<!-- Cloudflare Web Analytics -->
		<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "52dcb98c1a10492682592c6cfe35319d"}'></script>
		<!-- End Cloudflare Web Analytics -->

		<title>Worldly</title>
	</head>

	<body class="container">
		<p></p>
		<a href="/" class="btn btn-outline-primary" role="button">Back</a>
		<p></p>

		<div id="app">
			<h1>{{ stage[0] }} - {{ pow.a }} Power</h1>

			<p class="small">Beta Version - No Saving!</p>

			<div class="row">
				<div class="col-12">
					<button
						class="btn btn-success btn-lg btn-block"
						:disabled="!pow.e"
						@click="gain()">
						Conquer -
						Amount: {{ pow.g }} Power -
						Cooldown: {{ (pow.t / 1000).toFixed(2) }} Second
					</button>
				</div>
			</div>

			<p></p>

			<ul class="nav nav-pills" id="main-menu" role="tablist">
				<li class="nav-item">
					<a
						class="nav-link active"
						id="pills-home-tab"
						data-toggle="pill"
						href="#pills-home"
						role="tab"
						aria-controls="pills-home"
						aria-selected="true">
						Improvments
					</a>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						id="automation-tab"
						data-toggle="pill"
						href="#automation"
						role="tab"
						aria-controls="automation"
						aria-selected="false">
						Automation
					</a>
				</li>
				<li class="nav-item">
					<a
						class="nav-link disabled"
						id="pills-contact-tab"
						data-toggle="pill"
						href="#pills-contact"
						role="tab"
						aria-controls="pills-contact"
						aria-selected="false">
						Prestige
					</a>
				</li>
			</ul>

			<p></p>

			<div class="tab-content" id="main-menuContent">
				<div class="row tab-pane fade show active" id="pills-home">
					<div class="col-12">
						<div id="improvements-menu">
							<div class="card text-center">
								<div class="card-header" id="upgrade-header">
									<button
										class="btn btn-info collapsed"
										data-toggle="collapse"
										data-target="#upgrade-body"
										aria-expanded="false"
										aria-controls="upgrade-body">
										Upgrades
									</button>
								</div>

								<div
									id="upgrade-body"
									class="collapse show"
									aria-labelledby="upgrade-header"
									data-parent="#improvements-menu">
									<div class="card-body">
										<button
											class="btn btn-info btn-block"
											v-for="up in upgrades"
											v-if="!up.bought"
											@click="up.buy(pow)">
											{{ up.name }} -
											{{ up.does }} -
											Cost: {{ up.cost }} Power
										</button>
									</div>
								</div>
							</div>

							<div class="card text-center">
								<div class="card-header" id="expansion-header">
									<button
										class="btn btn-warning collapsed"
										data-toggle="collapse"
										data-target="#expasion-body"
										aria-expanded="false"
										aria-controls="expasion-body">
										Expansion
									</button>
								</div>

								<div
									id="expasion-body"
									class="collapse"
									aria-labelledby="expansion-header"
									data-parent="#improvements-menu">
									<div class="card-body">
										<button
											class="btn btn-warning btn-block"
											v-for="ex in expansion"
											v-if="!ex.bought"
											@click="ex.buy(pow, stage)">
											{{ ex.name }} -
											{{ ex.does }} -
											Cost: {{ ex.cost }} Power
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row tab-pane fade" id="automation">
					<h3>unfortunately, i stopped development of this game a while ago <br> i might pick it up later, but i probably wont</h3>
				</div>
			</div>
		</div>

		<script
			src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		    crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		    crossorigin="anonymous"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		    crossorigin="anonymous"></script>

		<script src="/global/vue.min.js"></script>
		<script src="script.js"></script>
	</body>
</html>